﻿@model CassandraProj.Models.Zakazivanje

@{
    ViewData["Title"] = "kreirajZakazivanje";
}

<h1 style="background-color:palevioletred">Zakaži novi koncert</h1>

<h4>Zakazivanje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="sacuvajZakazivanjeUbazu"  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZakID" class="control-label"></label>
                <input asp-for="ZakID" class="form-control" />
                <span asp-validation-for="ZakID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzvodjacID" class="control-label"></label>
                <input asp-for="IzvodjacID" class="form-control" />
                <span asp-validation-for="IzvodjacID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BendID" class="control-label"></label>
                <input asp-for="BendID" class="form-control" />
                <span asp-validation-for="BendID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoncertID" class="control-label"></label>
                <input asp-for="KoncertID" class="form-control" />
                <span asp-validation-for="KoncertID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vreme" class="control-label"></label>
                <input asp-for="Vreme" class="form-control" />
                <span asp-validation-for="Vreme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dodatinf" class="control-label"></label>
                <input asp-for="Dodatinf" class="form-control" />
                <span asp-validation-for="Dodatinf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
