﻿@model CassandraProj.Models.Koncert

@{
   // ViewData["Title"] = "ModifikujKoncert";
}

<h1 style="background-color:palevioletred">Modifikuj izabrani koncert</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form action="SacuvajModifikovanKoncert" method="post">

            <div class="form-group" style="background-color:lightblue">
                <label asp-for="KoncertID" class="control-label" ></label >
                <input asp-for="KoncertID" class="form-control" value="@Model.KoncertID" placeholder="Id za koji menjate" hidden />
                <label >: @Model.KoncertID</label>

                <span asp-validation-for="KoncertID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" value="@Model.Ime" />
                <span asp-validation-for="Ime" class="text-danger"></span>
               
            </div>
            <div class="form-group">
                <label asp-for="Organizator" class="control-label"></label>
                <input asp-for="Organizator" class="form-control" value="@Model.Organizator"/>
                <span asp-validation-for="Organizator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" value="@Model.Opis" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <input asp-for="Tip" class="form-control" value="@Model.Tip" />
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sponzor" class="control-label"></label>
                <input asp-for="Sponzor" class="form-control" value="@Model.Sponzor" />
                <span asp-validation-for="Sponzor" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Modifikuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
