﻿@model IEnumerable<CassandraProj.Models.Koncert>

@{
    ViewData["Title"] = "PretragaKoncerataPoTipu";
}



<a asp-area="" asp-action="PretragaKoncerataPoTipu" asp-controller="KoncertController"></a>



<h2 style=" width:650px; background-color:palevioletred">Pretražite koncerte  koji vas interesuju</h2>

<br />

<div>
    <a  href="../Preporuka/prikaziPreporukeKncerata" class="this-page-style">Preporuke za Vas, na osnovu dosadasnjeg pretrazivanja</a>

</div>

<br />
<div class="column">
    <div class="card" style="width:650px; height:700px">

        <div class="form-outline">


            <form action="prikaziRezPretrage">
                <input type="search" name="zanr" id="form1" class="form-control" placeholder="Pretrazi po zanru-tipu ili izvodjacu(id).." />
                <br /> <br />

                <input type="text" name="koncertID" placeholder="koncertID" value="" hidden="hidden" />
                <br /> <br />
                <label style="background-color:lightblue"> Izaberite jednu od opcija :</label>
                       <div style="background-color:lightblue">
                           <label> Žanr: </label>
                           <input type="radio" name="zanrC" id="form1" class="form-control" placeholder="zanr" style="width:50px; height:20px" />

                           <label>Izvođač: </label>
                           <input type="radio" name="izvC" id="form1" class="form-control" placeholder="izvodjac" style="width:50px; height:20px" />

                       </div>
                <input style="background-color:palevioletred" type="submit" value="Pretrazi" />

            </form>

        </div>

        <hr />

        <div style="color:deeppink"> Rezultat: </div>

        <br />  <br />
        <table border="2" style="background-color:lightgreen;text-align:center">

            @if (Model != null)
            {

                <thead>
                    <tr>
                        <th width="200">Koncert ID</th>
                        <th width="200">Ime</th>
                        <th width="200">Organizator</th>
                        <th width="200">Sponzor</th>
                        <th width="200">Opis</th>
                        <th width="200">Tip</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.KoncertID</td>
                            <td>@item.Ime</td>
                            <td>@item.Organizator</td>
                            <td>@item.Sponzor</td>
                            <td>@item.Opis</td>
                            <td>@item.Tip</td>

                        </tr>
                    }
                </tbody>

            }

        </table>


    </div>
</div>
<div style="width:20px"></div>


